body{ /* Select por elemento*/
    background-color: rgb(213, 145, 245);
}

img{ /* Select por elemento */
    width: 350px;
    height: 200px;
    opacity: 0.8;
}

.cualquierNombre{ /* Clase css */
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(139, 0, 109);
}

#tituloDos{ /* Select por Id */
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkcyan;
}

/* CSS - Fuentes color y texto */
h1{
    text-align: right;
    color: purple;
    background-color: hsl(37, 86%, 45%);
    font-size: 40px;
    font-family: "Underdog", system-ui;
    font-weight: bold;
    font-style: italic;
}

p{ /* Selector por elemento*/
    font-size: 30px;
    font-size: 40px;
    font-family: "Underdog", system-ui;
    font-weight: 400;
    font-style: normal;
}



